* {
    font-family: 'Lato', sans-serif;
    border: 1px red dotted
}

.login-Wrapper{
    display: flex;
    margin: auto;
    max-width: 500px;
    justify-content: center;
}

.landing-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
}

.main-Form {
    display: flex;
    margin: auto;
    max-width: 500px;
    justify-content: center;
}

.FileUpload {
    display: flex;
    flex-flow: wrap;
    margin: auto;
    max-width: 200px;
    justify-content: center;
}

.imageUpload-wrapper {
    max-width: 200px
}

.uploaded-PIC {
    max-width: 200px;
    border-radius: 50%;
}

.Car-Card {
    /* display: flex; */
    flex-flow: column wrap;
    justify-content: center;
    margin: auto;
    min-width: 100%
}

.mainContainer {
    display: flex;
    flex-flow: wrap;
    margin: auto;
    max-width: 50%;
    justify-content: center !important;
}

#sectionHeader {
    display: flex;
    flex-flow: wrap;
    margin: auto;
    max-width: 50%;
    justify-content: center;
}

#navBar {
    display: flex;
    flex-flow: wrap;
    margin: auto;
    max-width: 50%;
    justify-content: center;
}
