* {
    font-family: 'Lato', sans-serif;
    /* border: 1px red dotted */
}

/* light purple:
dark purple: 6C63ff
coral pink shit: FF6584 */

.login-Wrapper{
    display: flex;
    margin: auto;
    max-width: 500px;
    justify-content: center;
}

.landing-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
}

.main-Form {
    display: flex;
    margin: auto;
    max-width: 500px;
    justify-content: center;
}

.FileUpload {
    display: flex;
    flex-flow: wrap;
    margin: auto;
    max-width: 200px;
    justify-content: center;
}

.imageUpload-wrapper {
    max-width: 200px
}

.uploaded-PIC {
    max-width: 200px;
    border-radius: 50%;
}

#user-Dash {
    align-self: center;
}

.Car-Card {
    /* display: flex; */
    flex-flow: column wrap;
    justify-content: center;
    margin: auto;
    min-width: 100%;
    margin-bottom: 10%;
    background-color: #F0EFFF;
    color: #6C63ff;
    padding: 15px;
    border-radius: 25px
}
.Ride-Card {
    flex-flow: column wrap;
    justify-content: center;
    margin: auto;
    min-width: 100%;
    margin-bottom: 10%;
    background-color: #F0EFFF;
    color: #6C63ff;
    padding: 15px;
    border-radius: 25px
}
.ride-history-kid {
    list-style-type: circle;
    padding-left: 3%;
    /* background-color: #6C63ff;
    color: #F0EFFF; */
}

.User-Dash {
    justify-content: center;
    display: flex;
    max-width: 40%;
    flex-flow: column wrap;
    margin: auto;
    min-width: 100%;
    margin-bottom: 10%;
    background-color: #F0EFFF;
    color: #6C63ff;
    padding: 15px;
}

.Dash-Kid-Button {
    display: flex;
    flex-flow: row;
}

.car-Header {
    /* font-size: 2em; */
}
.show-Edit-Button {
    padding: 10px
}

.mainContainer {
    display: flex;
    flex-flow: wrap;
    margin: auto;
    max-width: 50%;
    justify-content: center !important;
}

.sectionHeader {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    /* margin: auto; */
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    max-width: 50%;
    justify-content: center;
}

.mainContainer h1 {
    min-width: 100%;
    display: flex;
    background-color: rgb(82, 175, 151);
    color: white;
    justify-content: center;
    border-radius: 25px
}

#navBar {
    display: flex;
    /* flex-flow: wrap; */
    margin: auto;
    /* max-width: 50%; */
    justify-content: center;
    padding-bottom: 1%;
    align-items: center;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

.CarDriverSearchRow {
    display: flex;
    padding-bottom: 10px
}

.CarDriverSearchRow h5 {
    padding-right: 10px
}

.driver-card {
    display: flex;
    margin-bottom: 10px
}
.driver-card h6{
    padding-right: 10px;
}

.driverSearch {
    padding-bottom: 15px
}

.add-Button {
    display: flex;
    justify-content: center;
    align-items: center
}


#nav {
    background-color: #f1f1f1;
  }

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }